.card{
    width: 250px;
    height: 250px;
}
.label{
    border-bottom: 2px solid rgb(46, 133, 255);
    width: max-content;
    font-style: 13px;
}

input::placeholder, textarea::placeholder{
    font-size: 13px;
}